.coherenceleft {
	font-size:20px;
	position: absolute;
	left: 10%;
}

.coherenceright {
	font-size:20px;
	position: absolute;
	right: 10%;
}
.fixation {
	font-size:60px;
}

.instructions {
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

.practiceleft {
	font-size:60px;
	position: absolute;
	left: 10%;
}

.practiceright {
	font-size:60px;
	position: absolute;
	right: 10%;
}
