.coherenceleft {
	font-size:20px;
	position: absolute;
	left: 10%;
}

.coherenceright {
	font-size:20px;
	position: absolute;
	right: 10%;
}
.fixation {
	font-size:60px;
}

.practiceleft {
	font-size:60px;
	position: absolute;
	left: 10%;
}

.practiceright {
	font-size:60px;
	position: absolute;
	right: 10%;
}
