.coherenceleft {
	font-size:20px;
	position: absolute;
	left: 10%;
}

.coherenceright {
	font-size:20px;
	position: absolute;
	right: 10%;
}
.fixation {
	font-size:60px;
}

.instructions {
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
}

.reactionpracticeleft {
	font-size:60px;
	position: absolute;
	left: 10%;
}

.reactionpracticeright {
	font-size:60px;
	position: absolute;
	right: 10%;
}

.triadblock {
	display: flex;
	justify-content: center;
	flex-direction: column;
	line-height: 1;
	margin: 50px 0;
}

.instructionscenter {
	text-align: center;
	margin-top: 50px;
}
